
# Created by https://www.gitignore.io/api/node%2Clinux%2Crails%2Cmacos%2Cwindows

#!! ERROR: node%2clinux%2crails%2cmacos%2cwindows is undefined. Use list command to see defined gitignore types !!#


# End of https://www.gitignore.io/api/node%2Clinux%2Crails%2Cmacos%2Cwindows
